.vscode
.idea
/target
mock_server/target
.env
.env_test
.DS_STORE

*.rock
*.nix

/crates/ratings_new/Cargo.lock
/crates/ratings/Cargo.lock

/proto/*.rs
venv/
build/
*.charm
.tox/
.coverage
__pycache__/
*.py[cod]
server.pid
