[package]
name = "ratings"
version = "0.1.0"
edition = "2021"
rust-version = "1.69.0"

[dependencies]
dotenv = "0.15.0"
envy = "0.4.2"
futures = "0.3.30"
http = "1.0.0"
hyper = { version = "0.14.26", features = ["full"] }
jsonwebtoken = "8.3.0"
once_cell = "1.19.0"
prost = "0.12.3"
prost-types = "0.12.3"
rand = "0.8.5"
reqwest = "0.11.23"
serde = { version = "1.0.195", features = ["derive"] }
sha2 = "0.10.7"
sqlx = { version = "0.7.3", features = ["runtime-tokio-rustls", "postgres", "time"] }
thiserror = "1.0.56"
time = { version = "0.3.31", features = ["macros"] }
tokio = { version = "1.28.2", features = ["full"] }
tokio-postgres = "0.7.8"
tonic = "0.10.2"
tonic-reflection = "0.10.2"
tower = "0.4.13"
tracing = "0.1.40"
tracing-subscriber = {  version = "0.3.18", features = ["env-filter"] }

[build-dependencies]
tonic-build = { version = "0.10.2", features = ["prost"] }
