[package]
name = "ratings"
version = "0.1.0"
edition = "2021"

[dependencies]
dotenv = "0.15.0"
futures = "0.3.28"
http = "0.2.9"
hyper = { version = "0.14.26", features = ["full"] }
jsonwebtoken = "8.3.0"
once_cell = "1.18.0"
prost = "0.11.9"
rand = "0.8.5"
reqwest = "0.11.18"
serde = { version = "1.0.166", features = ["derive"] }
sha2 = "0.10.7"
sqlx = { version = "0.7.0", features = ["runtime-tokio-rustls", "postgres", "time"] }
thiserror = "1.0.40"
time = { version = "0.3.22", features = ["macros"] }
tokio = { version = "1.28.2", features = ["full"] }
tokio-postgres = "0.7.8"
tonic = "0.9.2"
tonic-reflection = "0.9.2"
tower = "0.4.13"
tracing = "0.1.37"
tracing-subscriber = "0.3.17"

[build-dependencies]
tonic-build = { version = "0.9", features = ["prost"] }
