[Unit]
Description=App Center Ratings Service
After=network.target

[Service]
Environment="APP_ENV={{ app_env }}"
Environment="APP_JWT_SECRET={{ app_jwt_secret }}"
Environment="APP_LOG_LEVEL={{ app_log_level }}"
Environment="APP_POSTGRES_URI={{ app_postgres_uri }}"
Environment="APP_MIGRATION_POSTGRES_URI={{ app_migration_postgres_uri }}"
WorkingDirectory = {{ project_root }}
Restart = always
RestartSec = 5
ExecStart={{ project_root }}/target/release/ratings
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID
ExecStartPre = /bin/mkdir {{ project_root }}/run
PIDFile = {{ project_root }}/run/hello-juju.pid
ExecStopPost = /bin/rm -rf {{ project_root }}/run

[Install]
WantedBy = multi-user.target
