name: Pull Request

on:
  pull_request:
    paths-ignore:
      - k8s_operator/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/build.yaml

  build-rock:
    uses: ./.github/workflows/build-rock.yaml
